"" Source your .vimrc
"source ~/.vimrc
scriptencoding utf-8
set encoding=utf-8
syntax on

set exrc
set noerrorbells

set shiftwidth=4
set tabstop=4
set softtabstop=4
set expandtab
set autoindent
set smartindent
set nostartofline

set number relativenumber
set nowrap
set colorcolumn=80
set signcolumn=yes
set scrolloff=8

set wildmenu
set showcmd
set showmode

set hlsearch
set smartcase
set ignorecase
set incsearch

set backspace=indent,eol,start
set ruler
set laststatus=2
set confirm
set visualbell
set t_vb=

set ttimeoutlen=100
set updatetime=50
imap jj <Esc>
imap jk <Esc>
let mapleader=" "

set guicursor=
set termguicolors
set listchars=space:⋅,tab:⋅⋅»
set list
nnoremap Y y$

Plug 'easymotion/vim-easymotion'
Plug 'preservim/nerdtree'
Plug 'tpope/vim-commentary'

set ideajoin

map <C-c> :action Stop<CR>
nnoremap <C-p> :action SearchEverywhere<CR>
"" nnoremap <leader>e :action FocusEditor<CR>
nnoremap <leader>d :action Debug<CR>
nnoremap <leader>r :action Run<CR>
nnoremap <leader>b :action ToggleLineBreakpoint<CR>
nnoremap <leader>ff :action GotoFile<CR>
nnoremap <leader>fg :action SearchEverywhere
nnoremap gr :action ShowUsages<CR>
nnoremap <C-e> :action ShowIntentionActions<CR>
nnoremap <leader>e :action ShowIntentionActions<CR>
nnoremap <leader>R :action RunContextPopupGroup<CR>

"" Terminal
map <C-t> :action ActivateTerminalToolWindow<CR>
map <Leader>t :action Terminal.OpenInTerminal<CR>

"" NERDTree
nnoremap <leader>n :NERDTreeFocus<CR>
nnoremap <C-n> :NERDTreeToggle<CR>

"" Windows
nnoremap <Leader>w :action HideAllWindows<CR>
"" nnoremap <Leader>df :action ToggleDistractionFreeMode<CR>
nnoremap <C-a>j :action ResizeToolWindowGroup<CR>

"" Font
nnoremap fs :action EditorResetFontSize<CR>

"" Navigation
sethandler <c-j> a:vim
sethandler <c-k> a:vim
nnoremap <C-h> <C-w>h
nnoremap <C-j> <C-w>j
nnoremap <C-k> <C-w>k
nnoremap <C-l> <C-w>l

nnoremap <C-\> :action SplitVertically<CR>
nnoremap <C--> :action SplitHorizontally<CR>

" Find more examples here: https://jb.gg/share-ideavimrc
